IMPORTAMOS LAS LIBRERIAS

In [31]:
import pandas as pd
import numpy as np

ABRIMOS EL ARCHIVO DE "HECHOS"

In [32]:
# Carga el archivo Excel en un DataFrame de pandas
hechos = pd.read_csv('D:/escritorio/ACCIDENTES/CSV/homicidios.xlsx - HECHOS.csv')

# Haz algo con los datos, como imprimir las primeras filas
hechos.head(5)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

VERIFICAMOS LOS TIPOS DE DATOS

In [33]:
print(hechos.dtypes)

ID                        object
N_VICTIMAS                 int64
FECHA                     object
AAAA                       int64
MM                         int64
DD                         int64
HORA                      object
HH                        object
LUGAR_DEL_HECHO           object
TIPO_DE_CALLE             object
Calle                     object
Altura                   float64
Cruce                     object
Dirección Normalizada     object
COMUNA                     int64
XY (CABA)                 object
pos x                     object
pos y                     object
PARTICIPANTES             object
VICTIMA                   object
ACUSADO                   object
dtype: object

VAMOS A ELIMINAR LAS COLUMNAS QUE NO VAMOS A UTILIZAR

In [34]:
columnas_a_eliminar = ['Altura', 'Cruce', 'Dirección Normalizada', 'LUGAR_DEL_HECHO']
homicidios_hechos = hechos.drop(columns=columnas_a_eliminar)
homicidios_hechos.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,TIPO_DE_CALLE,Calle,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AVENIDA,PIEDRA BUENA AV.,8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AVENIDA,ENTRE RIOS AV.,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

VEMOS SI TENEMOS VALORES NULOS

In [35]:
# Verifica si hay valores nulos en cada columna y cuenta los valores nulos
nulos = homicidios_hechos.isnull().sum()
# Imprime la cantidad de valores nulos en cada columna
print(nulos)

ID               0
N_VICTIMAS       0
FECHA            0
AAAA             0
MM               0
DD               0
HORA             0
HH               0
TIPO_DE_CALLE    0
Calle            1
COMUNA           0
XY (CABA)        0
pos x            0
pos y            0
PARTICIPANTES    0
VICTIMA          0
ACUSADO          0
dtype: int64

In [36]:
# Verifica si hay valores nulos en cada columna y cuenta los valores nulos
nulos = homicidios_hechos.isnull().sum()

# Asigna los valores nulos de vuelta al DataFrame homicidio_hechos
homicidios_hechos = homicidios_hechos.dropna()

# Verifica nuevamente si quedaron valores nulos
print(homicidios_hechos.isnull().sum())

ID               0
N_VICTIMAS       0
FECHA            0
AAAA             0
MM               0
DD               0
HORA             0
HH               0
TIPO_DE_CALLE    0
Calle            0
COMUNA           0
XY (CABA)        0
pos x            0
pos y            0
PARTICIPANTES    0
VICTIMA          0
ACUSADO          0
dtype: int64

In [37]:
# Suponiendo que 'homicidios_hechos' es tu DataFrame y 'columna' es el nombre de la columna en la que quieres verificar los valores nulos
valores_nulos = homicidios_hechos[homicidios_hechos['Calle'].isnull()]
# Imprimir los valores nulos
valores_nulos

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, TIPO_DE_CALLE, Calle, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

In [38]:
# Llenar los valores nulos en la columna 'Calle' con 'SD' en el DataFrame original
homicidios_hechos['Calle'].fillna('SD', inplace=True)

EN COMUNA TENEMOS VALORES 0 LO CUAL NO EXISTE Y PROCEDEMOS A PASARLO A SD

In [39]:
# Reemplazar los valores nulos en la columna 'COMUNA' con 'SD' en el DataFrame original
homicidios_hechos['COMUNA'].replace(0, 'SD', inplace=True)

In [40]:
# Verificar nuevamente si quedan valores nulos en el DataFrame original
valores_nulos_actualizados = homicidios_hechos.isnull().sum()
print(valores_nulos_actualizados)

ID               0
N_VICTIMAS       0
FECHA            0
AAAA             0
MM               0
DD               0
HORA             0
HH               0
TIPO_DE_CALLE    0
Calle            0
COMUNA           0
XY (CABA)        0
pos x            0
pos y            0
PARTICIPANTES    0
VICTIMA          0
ACUSADO          0
dtype: int64

VEMOS QUE ALGUNAS COLUMNAS TIENEN NOMBRES EN MAYUSCULA Y OTRAS EN MINUSCULAS. LO CUAL VAMOS ARREGLAR ESO, VAMOS A LLEVAR TODO A MAYUSCULAS

In [41]:
# Convertir todos los nombres de columnas a mayúsculas
homicidios_hechos.columns = homicidios_hechos.columns.str.upper()
# Verificar los nombres de las columnas después de la conversión
print(homicidios_hechos.columns)

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'TIPO_DE_CALLE', 'CALLE', 'COMUNA', 'XY (CABA)', 'POS X', 'POS Y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

VAMOS A CAMBIAR LOS NOMBRES DE NUESTRAS COLUMNAS

In [42]:
nombres_nuevos = {'AAAA': 'AÑO', 'MM': 'MES', 'DD': 'DIA', 'HH': 'HORA_ENTERA', 'XY (CABA)': 'COORDINADA', 'POS X': 'LONGITUD', 'POS Y': 'LATITUD'}
nuevo_hecho = homicidios_hechos.rename(columns=nombres_nuevos)
nuevo_hecho.head(3)

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA_ENTERA,TIPO_DE_CALLE,CALLE,COMUNA,COORDINADA,LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AVENIDA,PIEDRA BUENA AV.,8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AVENIDA,ENTRE RIOS AV.,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

ANTERIORIMENTE PUDIMOS VER QUE HAY FILAS EN LAS QUE SE PRECISA VER EL VALOR [SD]
VAMOS A IMPRIMIR TODAS LAS COLUMNAS DONDE ESOS VALORES APAREZCAN

In [43]:
# Suponiendo que 'nuevo_hecho' es tu DataFrame
filas_con_SD = nuevo_hecho[nuevo_hecho.apply(lambda row: row.str.contains('SD').any(), axis=1)]
# Imprimir las filas donde aparece 'SD'
filas_con_SD

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA_ENTERA,TIPO_DE_CALLE,CALLE,COMUNA,COORDINADA,LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AVENIDA,LARRAZABAL AV.,8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
32,2016-0045,1,4/11/2016,2016,4,11,10:25:00,10,GRAL PAZ,"PAZ, GRAL. AV.",13,Point (99620.34936816 110483.29286598),-58.46743471,-34.53476874,MOTO-SD,MOTO,SD
35,2016-0049,1,4/17/2016,2016,4,17,0:00:00,0,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD
38,2016-0052,1,4/20/2016,2016,4,20,20:00:00,20,AUTOPISTA,"LUGONES, LEOPOLDO AV.",13,Point (. .),.,.,MOTO-SD,MOTO,SD
57,2016-0080,1,6/18/2016,2016,6,18,6:42:00,6,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (93950.50587297 98883.37644525),-58.52927982,-34.63931752,AUTO-SD,AUTO,SD
76,2016-0101,1,8/7/2016,2016,8,7,19:42:00,19,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (93946.81673714 97681.68907836),-58.52932872,-34.65014993,SD-SD,SD,SD
83,2016-0110,1,8/24/2016,2016,8,24,20:21:00,20,AVENIDA,"ALBERDI, JUAN BAUTISTA AV.",9,Point (95506.35959227 96696.89655626),-58.51232237,-34.65903530,PEATON-SD,PEATON,SD
88,2016-0115,1,9/2/2016,2016,9,2,11:50:00,11,CALLE,ARIAS,12,Point (97608.87024259 108884.67029908),-58.48935041,-34.54917673,SD-CARGAS,SD,CARGAS
92,2016-0119,1,9/4/2016,2016,9,4,6:40:00,6,AVENIDA,"LARRALDE, CRISOLOGO AV.",12,Point (96944.69676081 107291.52292157),-58.49659234,-34.56353635,SD-SD,SD,SD
105,2016-0135,1,10/24/2016,2016,10,24,5:00:00,5,AVENIDA,"FIGUEROA ALCORTA, PRES. AV.",14,Point (103734.76257993 107235.78328415),-58.42260225,-34.56403694,PEATON-SD,PEATON,SD
112,2016-0143,1,11/6/2016,2016,11,6,4:41:00,4,AVENIDA,27 DE FEBRERO AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-SD,MOTO,SD
126,2016-0159,1,12/4/2016,2016,12,4,7:21:00,7,AVENIDA,27 DE FEBRERO AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,AUTO-SD,AUTO,SD
139,2016-0174,1,12/27/2016,2016,12,27,0:00:00,0,AUTOPISTA,AUTOPISTA 25 DE MAYO,SD,Point (. .),.,.,SD-SD,SD,SD
160,2017-0025,1,2/24/2017,2017,2,24,17:05:00,17,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",7,Point (102489.38230491 97228.94942016),-58.43614426,-34.65424640,MOTO-SD,MOTO,SD
164,2017-0029,1,3/7/2017,2017,3,7,2:15:00,2,CALLE,MOZART,9,Point (98009.35575364 97985.81952007),-58.48501341,-34.64742455,SD-AUTO,SD,AUTO
197,2017-0069,1,5/24/2017,2017,5,24,14:15:00,14,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (94644.00300729 96592.22735507),-58.52173071,-34.65997463,MOTO-SD,MOTO,SD
201,2017-0074,1,6/4/2017,2017,6,4,12:50:00,12,CALLE,CASCO,9,Point (94281.31244858 99043.29027489),-58.52567073,-34.63787791,SD-SD,SD,SD
214,2017-0089,1,7/13/2017,2017,7,13,12:05:00,12,CALLE,"LEGUIZAMON, MARTINIANO",9,Point (95246.78684010 97935.32361317),-58.51514709,-34.64787051,SD-AUTO,SD,AUTO
216,2017-0091,1,7/15/2017,2017,7,15,13:00:00,13,GRAL PAZ,SUPERI,12,Point (97850.57417090 109546.39428377),-58.48671535,-34.54321216,MOTO-SD,MOTO,SD
269,2017-0155,1,12/12/2017,2017,12,12,21:25:41,21,AVENIDA,RIVADAVIA AV.,7,Point (100674.98109200 100299.64949548),-58.45593915,-34.62656868,SD-MOTO,SD,MOTO
393,2018-0119,1,11/5/2018,2018,11,5,22:35:00,22,AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.",8,Point (102489.86457298 96266.15892101),-58.43613623,-34.66292532,PEATON-SD,PEATON,SD
397,2018-0123,1,11/12/2018,2018,11,12,03:32:00,3,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (96405.76679348 94981.38013791),-58.50251790,-34.67450313,AUTO-SD,AUTO,SD
439,2019-0022,1,3/15/2019,2019,3,15,0:00:00,0,AVENIDA,ENTRE RIOS AV.,1,Point (106608.39392805 100635.27735528),-58.39123782,-34.62352245,AUTO-SD,AUTO,SD
450,2019-0033,1,4/18/2019,2019,4,18,1:00:00,1,AUTOPISTA,AUTOPISTA 25 DE MAYO,1,Point (108916.48040002 100856.88142642),-58.36607137,-34.62150748,MOTO-SD,MOTO,SD
457,2019-0040,1,5/9/2019,2019,5,9,12:45:00,12,CALLE,PUAN,7,Point (101894.68493124 99164.78448252),-58.44263580,-34.63679732,MOTO-SD,MOTO,SD
518,2019-0103,1,12/18/2019,2019,12,18,SD,SD,GRAL PAZ,"PAZ, GRAL. AV.",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO
620,2021-0022,1,2/28/2021,2021,2,28,12:00:00,12,AVENIDA,DEL LIBERTADOR AV.,13,Point (101075.92147827 108552.55000854),-58.45157681,-34.55217303,PASAJEROS-SD,PASAJEROS,SD

LUEGO EN LAS COLUMNAS DONDE TIENEN VALORES COMO ('.') VAMOS A COLOCAR 0

In [44]:
filas_sin_valor = nuevo_hecho[nuevo_hecho.apply(lambda row: row.str.contains('.').any(), axis=1)]
# Imprimir las filas donde aparece '.'
filas_sin_valor

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA_ENTERA,TIPO_DE_CALLE,CALLE,COMUNA,COORDINADA,LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AVENIDA,PIEDRA BUENA AV.,8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AVENIDA,ENTRE RIOS AV.,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AVENIDA,LARRAZABAL AV.,8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AVENIDA,SAN JUAN AV.,1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,12/13/2021,2021,12,13,17:10:00,17,AVENIDA,RIESTRA AV.,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,12/20/2021,2021,12,20,1:10:00,1,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,12/30/2021,2021,12,30,0:43:00,0,AVENIDA,GAONA AV.,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,12/15/2021,2021,12,15,10:30:00,10,AVENIDA,"PERON, EVA AV.",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,11/18/2021,2021,11,18,6:10:00,6,CALLE,PADRE CARLOS MUJICA,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [45]:
# Reemplazar todos los valores '.' y 'Point (. .)' por 0 en el DataFrame
nuevo_hecho.replace(['.', 'Point (. .)'], 0, inplace=True)

CAMBIAMOS EL FORMATO DE LA FECHA YYYY/MM/DD

In [46]:
# Convertir la columna 'FECHA' al formato de fecha y luego reformatearla
nuevo_hecho['FECHA'] = pd.to_datetime(nuevo_hecho['FECHA'], format='%m/%d/%Y').dt.strftime('%Y/%m/%d')

# Imprimir las primeras filas para verificar el resultado
nuevo_hecho.head(5)

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA_ENTERA,TIPO_DE_CALLE,CALLE,COMUNA,COORDINADA,LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016/01/01,2016,1,1,4:00:00,4,AVENIDA,PIEDRA BUENA AV.,8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016/01/02,2016,1,2,1:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016/01/03,2016,1,3,7:00:00,7,AVENIDA,ENTRE RIOS AV.,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016/01/10,2016,1,10,0:00:00,0,AVENIDA,LARRAZABAL AV.,8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016/01/21,2016,1,21,5:20:00,5,AVENIDA,SAN JUAN AV.,1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

ABRIMOS EL ARCHIVO DE VICTIMAS

In [47]:
# Carga el archivo Excel en un DataFrame de pandas
victimas = pd.read_csv('D:/escritorio/ACCIDENTES/CSV/homicidios.xlsx - VICTIMAS.csv')

# Haz algo con los datos, como imprimir las primeras filas
victimas.head(5)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016

VAMOS A VER LOS TIPOS DE DATOS

In [48]:
print(victimas.dtypes)

ID_hecho               object
FECHA                  object
AAAA                    int64
MM                      int64
DD                      int64
ROL                    object
VICTIMA                object
SEXO                   object
EDAD                   object
FECHA_FALLECIMIENTO    object
dtype: object

CONSULTAMOS SI HAY VALORES NULOS

In [49]:
# Verificar si hay valores nulos en todo el DataFrame
tiene_nulos = victimas.isnull().any().any()

# Imprimir el resultado
if tiene_nulos:
    print("Existen valores nulos en el DataFrame.")
else:
    print("No existen valores nulos en el DataFrame.")

No existen valores nulos en el DataFrame.

CONSULTAMOS SI HAY ID DUPLICADOS

In [50]:
duplicados = victimas[victimas.duplicated(subset='ID_hecho', keep=False)]
duplicados

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
29,2016-0041,3/29/2016,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54,3/29/2016
30,2016-0041,3/29/2016,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,3/30/2016
98,2016-0126,9/18/2016,2016,9,18,CONDUCTOR,AUTO,MASCULINO,37,SD
99,2016-0126,9/18/2016,2016,9,18,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,60,SD
163,2017-0026,2/26/2017,2017,2,26,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,23,2/26/2017
164,2017-0026,2/26/2017,2017,2,26,CONDUCTOR,AUTO,MASCULINO,19,2/26/2017
173,2017-0035,3/23/2017,2017,3,23,CONDUCTOR,AUTO,MASCULINO,28,3/23/2017
174,2017-0035,3/23/2017,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,32,3/23/2017
175,2017-0035,3/23/2017,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,30,3/23/2017
176,2017-0036,3/29/2017,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,3/29/2017
177,2017-0036,3/29/2017,2017,3,29,CONDUCTOR,MOTO,MASCULINO,20,3/29/2017
186,2017-0050,4/28/2017,2017,4,28,CONDUCTOR,MOTO,MASCULINO,46,4/28/2017
187,2017-0050,4/28/2017,2017,4,28,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,16,4/28/2017
237,2017-0108,9/2/2017,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,17,9/2/2017
238,2017-0108,9/2/2017,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,10,9/2/2017
242,2017-0112,9/10/2017,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,1,SD
243,2017-0112,9/10/2017,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,9/13/2017
253,2017-0126,10/14/2017,2017,10,14,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,39,SD
254,2017-0126,10/14/2017,2017,10,14,CONDUCTOR,AUTO,MASCULINO,36,10/14/2017
277,2017-0153,12/11/2017,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,12/12/2017
278,2017-0153,12/11/2017,2017,12,11,CONDUCTOR,MOTO,MASCULINO,30,12/12/2017
300,2018-0015,2/6/2018,2018,2,6,CONDUCTOR,MOTO,MASCULINO,28,2/6/2018
301,2018-0015,2/6/2018,2018,2,6,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,19,2/6/2018
312,2018-0026,3/9/2018,2018,3,9,CONDUCTOR,MOVIL,MASCULINO,24,3/9/2018
313,2018-0026,3/9/2018,2018,3,9,PASAJERO_ACOMPAÑANTE,MOVIL,MASCULINO,30,3/9/2018
325,2018-0038,4/20/2018,2018,4,20,PEATON,PEATON,FEMENINO,59,4/20/2018
326,2018-0038,4/20/2018,2018,4,20,PEATON,PEATON,MASCULINO,61,4/20/2018
373,2018-0085,8/3/2018,2018,8,3,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,22,8/3/2018
374,2018-0085,8/3/2018,2018,8,3,CONDUCTOR,MOTO,MASCULINO,30,8/3/2018
387,2018-0098,9/9/2018,2018,9,9,CONDUCTOR,AUTO,MASCULINO,55,9/9/2018
388,2018-0098,9/9/2018,2018,9,9,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,54,9/9/2018
418,2018-0128,11/25/2018,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,49,11/25/2018
419,2018-0128,11/25/2018,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,39,11/25/2018
444,2019-0010,2/2/2019,2019,2,2,PEATON,PEATON,MASCULINO,SD,2/2/2019
445,2019-0010,2/2/2019,2019,2,2,PEATON,PEATON,MASCULINO,59,2/2/2019
576,2020-0038,8/30/2020,2020,8,30,CONDUCTOR,AUTO,MASCULINO,46,8/30/2020
577,2020-0038,8/30/2020,2020,8,30,CONDUCTOR,AUTO,MASCULINO,64,8/30/2020
602,2020-0063,12/5/2020,2020,12,5,PEATON,PEATON,MASCULINO,38,12/5/2020
603,2020-0063,12/5/2020,2020,12,5,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,21,12/5/2020
616,2020-0077,12/25/2020,2020,12,25,CONDUCTOR,MOTO,FEMENINO,30,12/25/2020
617,2020-0077,12/25/2020,2020,12,25,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,24,12/25/2020

Como se observa los ID duplicados se refiere a que fueron el mismo accidente y en la otra tabla se registra dos personas involucradas

ELIMINAMOS LAS COLUMAS QUE FECHA AAAA MM DD VICTIMA Y FECHA_FALLECIMIENTO PORQUE MAS TARDE VAMOS A UNIR LOS DF EN LOS CUAL TENEMOS LAS FECHAS. Y NO NOS GENERA UNA INFORMACION UTIL FECHA DE FALLECIMIENTO YA QUE LA IDEA ES ENCONTRAR UN PATRON EN LOS ACCIDENTES Y NO UNA FECHA DE MUERTE

In [51]:
# Lista de nombres de las columnas a eliminar
columnas_a_eliminar = ['FECHA', 'AAAA', 'MM', 'DD', 'VICTIMA', 'FECHA_FALLECIMIENTO']

# Eliminar las columnas especificadas
victimas = victimas.drop(columns=columnas_a_eliminar)

# Imprimir las primeras filas del DataFrame para verificar el resultado
victimas.head()

    ID_hecho        ROL       SEXO EDAD
0  2016-0001  CONDUCTOR  MASCULINO   19
1  2016-0002  CONDUCTOR  MASCULINO   70
2  2016-0003  CONDUCTOR  MASCULINO   30
3  2016-0004  CONDUCTOR  MASCULINO   18
4  2016-0005  CONDUCTOR  MASCULINO   29

CAMBIAMOS LA COLUMNA SEXO SUS VALORES

In [52]:
# Suponiendo que 'homicidios_hechos' es tu DataFrame y 'sexo' es el nombre de la columna
victimas['SEXO'] = victimas['SEXO'].replace({'MASCULINO': 'M', 'FEMENINO': 'F'})

# Imprimir las primeras filas para verificar el resultado
victimas.head()

    ID_hecho        ROL SEXO EDAD
0  2016-0001  CONDUCTOR    M   19
1  2016-0002  CONDUCTOR    M   70
2  2016-0003  CONDUCTOR    M   30
3  2016-0004  CONDUCTOR    M   18
4  2016-0005  CONDUCTOR    M   29

CAMBIAMOS EL NOMBRE DE LA COLUMAS A ID

In [53]:
victimas.rename(columns={'ID_hecho': 'ID'}, inplace=True)

TRAEMOS TODAS LAS COLUMNAS DONDE APARECE 'SD'

In [54]:
# Suponiendo que 'homicidios_hechos' es tu DataFrame
filas_con_SD2 = victimas[victimas.eq('SD').any(axis=1)]
# Imprimir las filas donde aparece 'SD'
filas_con_SD2

            ID                   ROL SEXO EDAD
30   2016-0041  PASAJERO_ACOMPAÑANTE    M   SD
33   2016-0045             CONDUCTOR    M   SD
35   2016-0048                PEATON    F   SD
36   2016-0049                    SD   SD   SD
39   2016-0052                    SD   SD   SD
55   2016-0077                PEATON    F   SD
63   2016-0085                    SD    M   SD
72   2016-0096             CONDUCTOR    M   SD
77   2016-0101                    SD    M   67
89   2016-0115                    SD    M   SD
93   2016-0119  PASAJERO_ACOMPAÑANTE    F   SD
108  2016-0136             CONDUCTOR   SD   SD
119  2016-0148             CONDUCTOR    M   SD
121  2016-0151                PEATON   SD   SD
138  2016-0171             CONDUCTOR   SD   SD
141  2016-0174                    SD   SD   SD
142  2016-0175                PEATON    F   SD
165  2017-0027                PEATON    M   SD
167  2017-0029                    SD    M   34
176  2017-0036  PASAJERO_ACOMPAÑANTE    F   SD
182  2017-0042             CONDUCTOR    M   SD
208  2017-0074                    SD    M   70
221  2017-0089                    SD    M   23
225  2017-0093                PEATON    M   SD
243  2017-0112  PASAJERO_ACOMPAÑANTE    M   SD
275  2017-0151                PEATON    M   SD
277  2017-0153  PASAJERO_ACOMPAÑANTE    M   SD
280  2017-0155                    SD    M   77
299  2018-0014                PEATON    M   SD
328  2018-0040                PEATON    F   SD
359  2018-0071             CONDUCTOR    M   SD
367  2018-0079                PEATON    M   SD
371  2018-0083             CONDUCTOR    M   SD
377  2018-0088             CONDUCTOR    M   SD
390  2018-0100                    SD    F   33
391  2018-0101             CONDUCTOR    M   SD
421  2018-0130             CONDUCTOR    M   SD
444  2019-0010                PEATON    M   SD
446  2019-0011                PEATON    M   SD
454  2019-0019             CONDUCTOR    M   SD
457  2019-0022  PASAJERO_ACOMPAÑANTE    M   SD
461  2019-0026                PEATON    M   SD
463  2019-0028                PEATON    F   SD
469  2019-0034             CONDUCTOR    M   SD
479  2019-0043              CICLISTA    F   SD
498  2019-0063  PASAJERO_ACOMPAÑANTE    M   SD
506  2019-0071                PEATON    M   SD
529  2019-0094  PASAJERO_ACOMPAÑANTE    F   SD
530  2019-0095             CONDUCTOR    M   SD
548  2020-0010             CONDUCTOR    M   SD
552  2020-0014             CONDUCTOR    M   SD
555  2020-0017                PEATON    M   SD
563  2020-0025                PEATON    M   SD
572  2020-0034                PEATON    F   SD
579  2020-0040             CONDUCTOR    M   SD
631  2021-0012                PEATON    M   SD
639  2021-0020                PEATON    F   SD
647  2021-0028                PEATON    M   SD
698  2021-0079                PEATON    M   SD

VAMOS A JUNTAR LAS DOS TABLAS (HECHOS Y VICTIMAS)

In [55]:
# Suponiendo que 'nuevo_hecho' y 'victimas' son tus DataFrames y 'ID' es la columna que utilizarás para unirlos
dataframe_combinado = pd.merge(nuevo_hecho, victimas, on='ID', how='left')
dataframe_combinado

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA_ENTERA,TIPO_DE_CALLE,CALLE,COMUNA,COORDINADA,LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO,ROL,SEXO,EDAD
0,2016-0001,1,2016/01/01,2016,1,1,4:00:00,4,AVENIDA,PIEDRA BUENA AV.,8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,M,19
1,2016-0002,1,2016/01/02,2016,1,2,1:15:00,1,GRAL PAZ,"PAZ, GRAL. AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,CONDUCTOR,M,70
2,2016-0003,1,2016/01/03,2016,1,3,7:00:00,7,AVENIDA,ENTRE RIOS AV.,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,M,30
3,2016-0004,1,2016/01/10,2016,1,10,0:00:00,0,AVENIDA,LARRAZABAL AV.,8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,CONDUCTOR,M,18
4,2016-0005,1,2016/01/21,2016,1,21,5:20:00,5,AVENIDA,SAN JUAN AV.,1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,M,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2021-0093,1,2021/12/13,2021,12,13,17:10:00,17,AVENIDA,RIESTRA AV.,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,F,18
712,2021-0094,1,2021/12/20,2021,12,20,1:10:00,1,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,F,43
713,2021-0095,1,2021/12/30,2021,12,30,0:43:00,0,AVENIDA,GAONA AV.,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,M,27
714,2021-0096,1,2021/12/15,2021,12,15,10:30:00,10,AVENIDA,"PERON, EVA AV.",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,CONDUCTOR,M,60
715,2021-0097,1,2021/11/18,2021,11,18,6:10:00,6,CALLE,PADRE CARLOS MUJICA,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,CICLISTA,M,53

In [56]:
def verificar_tipo_datos_y_nulos(dataframe_combinado):
    """
    Esta función verifica los tipos de datos y la cantidad de valores nulos en un DataFrame.

    Parámetros:
        df (DataFrame): El DataFrame que se va a analizar.

    Retorna:
        DataFrame: Un DataFrame que contiene información sobre los tipos de datos y valores nulos en el DataFrame dado.
    """
    campos = []
    tipos_datos = []
    no_nulos_porcentaje = []
    nulos_porcentaje = []
    nulos = []

    for columna in dataframe_combinado.columns:
        campos.append(columna)
        tipos_datos.append([type(dataframe_combinado[columna].iloc[0])])
        no_nulos_porcentaje.append(dataframe_combinado[columna].count() / len(dataframe_combinado) * 100)
        nulos_porcentaje.append((1 - dataframe_combinado[columna].count() / len(dataframe_combinado)) * 100)
        nulos.append(len(dataframe_combinado) - dataframe_combinado[columna].count())

    resultado = pd.DataFrame({
        'nombre_campo': campos,
        'tipo_datos': tipos_datos,
        'no_nulos_%': no_nulos_porcentaje,
        'nulos_%': nulos_porcentaje,
        'nulos': nulos
    })

    return resultado

# Llamada a la función y mostrar el resultado
resultado = verificar_tipo_datos_y_nulos(dataframe_combinado)
print(resultado)

     nombre_campo               tipo_datos  no_nulos_%  nulos_%  nulos
0              ID          [<class 'str'>]       100.0      0.0      0
1      N_VICTIMAS  [<class 'numpy.int64'>]       100.0      0.0      0
2           FECHA          [<class 'str'>]       100.0      0.0      0
3             AÑO  [<class 'numpy.int64'>]       100.0      0.0      0
4             MES  [<class 'numpy.int64'>]       100.0      0.0      0
5             DIA  [<class 'numpy.int64'>]       100.0      0.0      0
6            HORA          [<class 'str'>]       100.0      0.0      0
7     HORA_ENTERA          [<class 'str'>]       100.0      0.0      0
8   TIPO_DE_CALLE          [<class 'str'>]       100.0      0.0      0
9           CALLE          [<class 'str'>]       100.0      0.0      0
10         COMUNA          [<class 'int'>]       100.0      0.0      0
11     COORDINADA          [<class 'str'>]       100.0      0.0      0
12       LONGITUD          [<class 'str'>]       100.0      0.0      0
13        LATITUD          [<class 'str'>]       100.0      0.0      0
14  PARTICIPANTES          [<class 'str'>]       100.0      0.0      0
15        VICTIMA          [<class 'str'>]       100.0      0.0      0
16        ACUSADO          [<class 'str'>]       100.0      0.0      0
17            ROL          [<class 'str'>]       100.0      0.0      0
18           SEXO          [<class 'str'>]       100.0      0.0      0
19           EDAD          [<class 'str'>]       100.0      0.0      0

GUARDAMOS TODO EN UN FORMATO CSV

In [58]:
dataframe_combinado.to_csv('D:/escritorio/ACCIDENTES/CSV/dataframe_combinado.csv', index=False)